#contact{
    width: 70%;
    margin: 70px auto;
}

.contact-info .contact-sm p {
    line-height: 0.5;
    margin-bottom: 0;
}

.contact>h2 {
    text-transform: uppercase;
    text-align: left;
}

.fa-location-dot,
.fa-phone,
.fa-headphones {
    color: #57B26C;
}

input{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 13px;
    border-color: #a9a9a9;
}
.submit-btn-send{
    width: 250px;
    height: 40px;
    background-color: #57B26C;
    color: white;
    border: 0;
    border-radius: 10px;
    margin-top: 30px;
}